<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <img src="https://sos-homepage-s3.s3.ap-northeast-2.amazonaws.com/test/IMG_3921.JPG" alt="">
  </body>
</html>
